{% extends 'Estore/navbar.html' %}
{% load static %}

{% block title %}
    <title>Cart</title>
{% endblock title %}

{% block content %}
    {% if cart_model %}
    <div class="cart-container">
        <div class="cart-container-div">
            <div><b>Pic</b></div>
            <div><b>Product</b></div>
            <div><b>Quantity</b></div>
            <div><b>Price</b></div>
            <div><b>Total</b></div>
        </div>
    {% for item, image, quantity, total in cart_model %}
        <div class="cart-container-div">
            <img class="cart-image" src="{{ image.images.url }}">
            <div>{{ item.name }}</div>
            <div>
                <form action="{% url "cart:cart_view" %}" method="post">
                    <select name="quantity" id="id_quantity" onchange="this.form.submit()">
                      <option value="none" selected disabled hidden>{{ quantity }}</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                    </select>
                    <input type="hidden" name="product_id" value="{{ item.pk }}">
                    {% csrf_token %}
                </form>
                <a id='cart_remove_item' href="{% url "cart:cart_remove_item" product_id=item.pk %}">delete</a>
                
                {% comment %}<form method="post" action="{% url "cart:cart_remove_item" %}">
                    <input type=hidden name="product_id" value="{{ item.id }}">
                    <input type=hidden name="quantity" value="0">
                    <button type="submit">Delete</button>
                </form>{% endcomment %}
            </div>
            <div>${{ item.price }}</div>
            <div>${{ total }}</div>
        </div>
    {% endfor %}
    {% else %}
    <div class="empty-cart">
        <p>Your cart is empty.</p>
    </div>

    {% endif %}
    </div>
{% endblock content %}




