{% extends "Estore/navbar.html" %}
{% load static %}

{% block title %}
    <title>Product Details</title>
{% endblock title %}


{% block content %}
    <div class="detail-container">
    <div class="detail-block">
        <img class="detail-image" src="{{ image.images.url }}" alt="">
        <div class="product-detail-block">
            <h1><b>{{ product.name }}</b></h1>
            <p>Price: $<b class="price">{{ product.price }}</b></p>
            <form action="{% url "cart:cart_add" %}" method="post">
                <p>{{ form.quantity }}</p>
                <input type="hidden" name="product_id" value="{{ product.id }}">
                {% csrf_token %}
                <input type="submit" value="Add to cart" class="button">
            </form>
            {% if messages %}
                {% for message in messages %}
                    <mark>{{ message }}</mark>
                {% endfor %}
            {% endif %}
            <p><strong>Product Description</strong></p>
            <p>{{ product.description|safe }}</p>
        </div>
    </div>
    </div>
    
{% endblock content %}

